_site
_drafts
.vscode
.DS_Store
*.swp

# Jekyll
Gemfile*
.sass-cache
.jekyll*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe
*.tar
*.zip
*.rar

# Windows shortcuts
*.lnk
