<!-- Before Footer
================================================== --> 
<div class="beforefooter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3>Tingkatkan Bisnis online Anda bersama Kami, nikmati murah dan mudahnya.</h3>
                <p>We offer a <span>30 Day Money Back Guarantee</span>, so joining is <span class="risk-free">Risk-Free!</span></p>
                <a class="btn btn-primary btn-lg" href="#"><i class="fa fa-gift"></i> Special Offers</a>
            </div>
            <div class="col-md-4 text-right footersocial">
                <h5>Connect with Us</h5>
                <a href="https://www.facebook.com/delta.web.id"/><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com"/><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com"/><i class="fa fa-youtube-play"></i></a>
                <a href="https://www.instagram.com/delta.web.id"/><i class="fa fa-instagram"></i></a>
                <a href="https://t.me/kiprox"/><i class="fa fa-telegram"></i></a>
            </div>
        </div>
    </div>
</div>
