<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="copyright">
            <p class="pull-left">
            Copyleft &COPY; {{ site.time | date: "%Y" }} {{ site.title }}.
            </p>
            <div class="clearfix"></div>
        </div>
    </div>
</footer><!-- End Footer -->
<!-- JavaScript -->
<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src='{{ site.url }}/assets/js/masonry.pkgd.min.js' type='text/javascript'></script>
<script src="https://cdn.jsdelivr.net/gh/tulungagung/aset@utama/js/candro-tema.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha512-s+PCss/ARYrY7JlX1KeM8JxmAWMxfxC8eGz+AU0hBKeq49LaL4mLbMsg//A4VgTZ5H4cQQ1JK/7KtmeZO7pyeg==" crossorigin="anonymous"></script>
